USE [QLCuocDT]
GO
/****** Object:  Table [dbo].[ChiTietCuocGoi]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCuocGoi](
	[ChiTietCuocGoiID] [int] IDENTITY(1,1) NOT NULL,
	[SIMID] [int] NULL,
	[ThoiGianBD] [datetime] NULL,
	[ThoiGianKT] [datetime] NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[SoPhutSD] [int] NOT NULL,
	[ChiTietHDTCID] [int] NULL,
	[Flag] [bit] NOT NULL,
 CONSTRAINT [PK__ChitietH__D00DBDA83585E4C8] PRIMARY KEY CLUSTERED 
(
	[ChiTietCuocGoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDTC]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDTC](
	[ChiTietHDTCID] [int] IDENTITY(1,1) NOT NULL,
	[SoPhutSD] [int] NOT NULL,
	[NgayHD] [datetime] NOT NULL,
	[HoaDonTinhCuocThangID] [int] NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[Flag] [bit] NOT NULL,
 CONSTRAINT [PK__HoaDonTi__DBAD01B3D99C7F97] PRIMARY KEY CLUSTERED 
(
	[ChiTietHDTCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileLogSIM]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileLogSIM](
	[FileLogSIMID] [int] IDENTITY(1,1) NOT NULL,
	[SIMID] [int] NOT NULL,
	[ThoiGianBD] [datetime] NOT NULL,
	[ThoiGianKT] [datetime] NOT NULL,
 CONSTRAINT [PK_FileLogSIM] PRIMARY KEY CLUSTERED 
(
	[FileLogSIMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaCuoc]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaCuoc](
	[GiaCuocID] [int] IDENTITY(1,1) NOT NULL,
	[GioBD] [varchar](20) NULL,
	[GioKT] [varchar](20) NULL,
	[GiaTien] [int] NULL,
	[Flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaCuocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDangKy]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDangKy](
	[HoaDonDangKyID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NgayDK] [datetime] NOT NULL,
	[ChiPhiDK] [int] NOT NULL,
	[TinhTrangThanhToan] [bit] NOT NULL,
	[Flag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonDangKyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonTinhCuocThang]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonTinhCuocThang](
	[HoaDonTinhCuocThangID] [int] IDENTITY(1,1) NOT NULL,
	[SIMID] [int] NOT NULL,
	[TienThueBao] [decimal](18, 0) NOT NULL,
	[TienCuocSD] [decimal](18, 0) NOT NULL,
	[Flag] [bit] NOT NULL,
	[ThangHD] [datetime] NOT NULL,
 CONSTRAINT [PK_HoaDonTinhCuocThang] PRIMARY KEY CLUSTERED 
(
	[HoaDonTinhCuocThangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[NgheNghiep] [nvarchar](20) NOT NULL,
	[ChucVu] [nvarchar](20) NOT NULL,
	[Email] [nchar](200) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[Flag] [bit] NOT NULL,
 CONSTRAINT [PK__KhachHan__880F211BB547D0BF] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIM]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIM](
	[SIMID] [int] IDENTITY(1,1) NOT NULL,
	[TenSim] [nvarchar](20) NOT NULL,
	[SoSim] [varchar](20) NOT NULL,
	[HoaDonDangKyID] [int] NOT NULL,
	[Flag] [bit] NOT NULL,
 CONSTRAINT [PK__SIM__0CCA9756F1A9ECC4] PRIMARY KEY CLUSTERED 
(
	[SIMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienThueBao]    Script Date: 13/12/2018 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienThueBao](
	[TienThueBaoID] [int] IDENTITY(1,1) NOT NULL,
	[GiaTienThueBao] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietCuocGoi] ON 

INSERT [dbo].[ChiTietCuocGoi] ([ChiTietCuocGoiID], [SIMID], [ThoiGianBD], [ThoiGianKT], [ThanhTien], [SoPhutSD], [ChiTietHDTCID], [Flag]) VALUES (203, 4, CAST(N'2018-12-01T01:58:57.000' AS DateTime), CAST(N'2018-12-01T15:48:23.000' AS DateTime), CAST(150750 AS Decimal(18, 0)), 829, 63, 1)
INSERT [dbo].[ChiTietCuocGoi] ([ChiTietCuocGoiID], [SIMID], [ThoiGianBD], [ThoiGianKT], [ThanhTien], [SoPhutSD], [ChiTietHDTCID], [Flag]) VALUES (204, 8, CAST(N'2018-12-01T09:37:22.000' AS DateTime), CAST(N'2018-12-01T22:17:16.000' AS DateTime), CAST(151800 AS Decimal(18, 0)), 759, 64, 1)
INSERT [dbo].[ChiTietCuocGoi] ([ChiTietCuocGoiID], [SIMID], [ThoiGianBD], [ThoiGianKT], [ThanhTien], [SoPhutSD], [ChiTietHDTCID], [Flag]) VALUES (205, 6, CAST(N'2018-12-18T03:59:01.000' AS DateTime), CAST(N'2018-12-18T07:48:41.000' AS DateTime), CAST(36600 AS Decimal(18, 0)), 229, 65, 1)
GO
SET IDENTITY_INSERT [dbo].[ChiTietCuocGoi] OFF
SET IDENTITY_INSERT [dbo].[ChiTietHDTC] ON 

INSERT [dbo].[ChiTietHDTC] ([ChiTietHDTCID], [SoPhutSD], [NgayHD], [HoaDonTinhCuocThangID], [ThanhTien], [Flag]) VALUES (63, 1237, CAST(N'2018-12-01T00:00:00.000' AS DateTime), 24, CAST(212800 AS Decimal(18, 0)), 0)
INSERT [dbo].[ChiTietHDTC] ([ChiTietHDTCID], [SoPhutSD], [NgayHD], [HoaDonTinhCuocThangID], [ThanhTien], [Flag]) VALUES (64, 759, CAST(N'2018-12-01T00:00:00.000' AS DateTime), 25, CAST(151800 AS Decimal(18, 0)), 0)
INSERT [dbo].[ChiTietHDTC] ([ChiTietHDTCID], [SoPhutSD], [NgayHD], [HoaDonTinhCuocThangID], [ThanhTien], [Flag]) VALUES (65, 229, CAST(N'2018-12-18T00:00:00.000' AS DateTime), 26, CAST(36600 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[ChiTietHDTC] OFF
SET IDENTITY_INSERT [dbo].[FileLogSIM] ON 

INSERT [dbo].[FileLogSIM] ([FileLogSIMID], [SIMID], [ThoiGianBD], [ThoiGianKT]) VALUES (1, 6, CAST(N'2018-12-01T03:33:44.000' AS DateTime), CAST(N'2018-12-01T09:39:45.000' AS DateTime))
INSERT [dbo].[FileLogSIM] ([FileLogSIMID], [SIMID], [ThoiGianBD], [ThoiGianKT]) VALUES (2, 8, CAST(N'2018-12-06T13:29:55.000' AS DateTime), CAST(N'2018-12-06T14:40:23.000' AS DateTime))
INSERT [dbo].[FileLogSIM] ([FileLogSIMID], [SIMID], [ThoiGianBD], [ThoiGianKT]) VALUES (3, 7, CAST(N'2018-12-08T06:27:04.000' AS DateTime), CAST(N'2018-12-08T08:25:01.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[FileLogSIM] OFF
SET IDENTITY_INSERT [dbo].[GiaCuoc] ON 

INSERT [dbo].[GiaCuoc] ([GiaCuocID], [GioBD], [GioKT], [GiaTien], [Flag]) VALUES (1, N'7h', N'23h', 200, 1)
INSERT [dbo].[GiaCuoc] ([GiaCuocID], [GioBD], [GioKT], [GiaTien], [Flag]) VALUES (2, N'23h', N'7h', 150, 1)
SET IDENTITY_INSERT [dbo].[GiaCuoc] OFF
SET IDENTITY_INSERT [dbo].[HoaDonDangKy] ON 

INSERT [dbo].[HoaDonDangKy] ([HoaDonDangKyID], [KhachHangID], [NgayDK], [ChiPhiDK], [TinhTrangThanhToan], [Flag]) VALUES (1, 1, CAST(N'2018-10-01T00:00:00.000' AS DateTime), 50000, 1, 1)
INSERT [dbo].[HoaDonDangKy] ([HoaDonDangKyID], [KhachHangID], [NgayDK], [ChiPhiDK], [TinhTrangThanhToan], [Flag]) VALUES (2, 2, CAST(N'2018-10-02T00:00:00.000' AS DateTime), 50000, 1, 1)
INSERT [dbo].[HoaDonDangKy] ([HoaDonDangKyID], [KhachHangID], [NgayDK], [ChiPhiDK], [TinhTrangThanhToan], [Flag]) VALUES (3, 3, CAST(N'2018-10-05T00:00:00.000' AS DateTime), 50000, 1, 1)
SET IDENTITY_INSERT [dbo].[HoaDonDangKy] OFF
SET IDENTITY_INSERT [dbo].[HoaDonTinhCuocThang] ON 

INSERT [dbo].[HoaDonTinhCuocThang] ([HoaDonTinhCuocThangID], [SIMID], [TienThueBao], [TienCuocSD], [Flag], [ThangHD]) VALUES (24, 4, CAST(50000 AS Decimal(18, 0)), CAST(1384300 AS Decimal(18, 0)), 0, CAST(N'2018-12-01T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonTinhCuocThang] ([HoaDonTinhCuocThangID], [SIMID], [TienThueBao], [TienCuocSD], [Flag], [ThangHD]) VALUES (25, 8, CAST(50000 AS Decimal(18, 0)), CAST(1083800 AS Decimal(18, 0)), 0, CAST(N'2018-12-01T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonTinhCuocThang] ([HoaDonTinhCuocThangID], [SIMID], [TienThueBao], [TienCuocSD], [Flag], [ThangHD]) VALUES (26, 6, CAST(50000 AS Decimal(18, 0)), CAST(1114050 AS Decimal(18, 0)), 0, CAST(N'2018-12-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDonTinhCuocThang] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [CMND], [NgheNghiep], [ChucVu], [Email], [DiaChi], [Flag]) VALUES (1, N'NGUYỄN NGỌC HUỲNH NHƯ', N'25454976', N'Bán Hàng', N'Nhân viên', N'huynhnhu@gmail.com                                                                                                                                                                                      ', N'30/32 - NGUYỄN BỈNH KHIÊM - P.1 - GÒ VẤP - TP HCM', 1)
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [CMND], [NgheNghiep], [ChucVu], [Email], [DiaChi], [Flag]) VALUES (2, N'ĐÀO VĂN PHÚC', N'25446098', N'Nội Trợ', N'Nhân viên', N'vanphuc@gmail.com                                                                                                                                                                                       ', N'58/647, NGUYỄN OANH, P.17, GÒ VẤP', 1)
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [CMND], [NgheNghiep], [ChucVu], [Email], [DiaChi], [Flag]) VALUES (3, N'CTY TNHH TM DV VẬN TẢI DƯƠNG THÀNH', N'25433339', N'Nhân viên', N'Kinh Doanh', N'duongthanh@gmail.com                                                                                                                                                                                    ', N'46/1, HÙNG VƯƠNG, P.1, Q.10', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[SIM] ON 

INSERT [dbo].[SIM] ([SIMID], [TenSim], [SoSim], [HoaDonDangKyID], [Flag]) VALUES (1, N'MobiphoneStudent', N'84913805266', 1, 1)
INSERT [dbo].[SIM] ([SIMID], [TenSim], [SoSim], [HoaDonDangKyID], [Flag]) VALUES (2, N'Mobiphone', N'841236969334', 2, 1)
INSERT [dbo].[SIM] ([SIMID], [TenSim], [SoSim], [HoaDonDangKyID], [Flag]) VALUES (3, N'MobiphoneBusiness', N'84913919143', 3, 1)
SET IDENTITY_INSERT [dbo].[SIM] OFF
SET IDENTITY_INSERT [dbo].[TienThueBao] ON 

INSERT [dbo].[TienThueBao] ([TienThueBaoID], [GiaTienThueBao]) VALUES (1, CAST(50000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[TienThueBao] OFF
ALTER TABLE [dbo].[ChiTietCuocGoi]  WITH CHECK ADD  CONSTRAINT [FK__ChitietHD__SIMID__440B1D61] FOREIGN KEY([SIMID])
REFERENCES [dbo].[SIM] ([SIMID])
GO
ALTER TABLE [dbo].[ChiTietCuocGoi] CHECK CONSTRAINT [FK__ChitietHD__SIMID__440B1D61]
GO
ALTER TABLE [dbo].[ChiTietCuocGoi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietCuocGoi_ChiTietHDTC] FOREIGN KEY([ChiTietHDTCID])
REFERENCES [dbo].[ChiTietHDTC] ([ChiTietHDTCID])
GO
ALTER TABLE [dbo].[ChiTietCuocGoi] CHECK CONSTRAINT [FK_ChiTietCuocGoi_ChiTietHDTC]
GO
ALTER TABLE [dbo].[ChiTietHDTC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDTC_HoaDonTinhCuocThang] FOREIGN KEY([HoaDonTinhCuocThangID])
REFERENCES [dbo].[HoaDonTinhCuocThang] ([HoaDonTinhCuocThangID])
GO
ALTER TABLE [dbo].[ChiTietHDTC] CHECK CONSTRAINT [FK_ChiTietHDTC_HoaDonTinhCuocThang]
GO
ALTER TABLE [dbo].[HoaDonDangKy]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonDan__Khach__4316F928] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDonDangKy] CHECK CONSTRAINT [FK__HoaDonDan__Khach__4316F928]
GO
ALTER TABLE [dbo].[HoaDonTinhCuocThang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonTinhCuocThang_SIM] FOREIGN KEY([SIMID])
REFERENCES [dbo].[SIM] ([SIMID])
GO
ALTER TABLE [dbo].[HoaDonTinhCuocThang] CHECK CONSTRAINT [FK_HoaDonTinhCuocThang_SIM]
GO
ALTER TABLE [dbo].[SIM]  WITH CHECK ADD  CONSTRAINT [FK_SIM_HoaDonDangKy] FOREIGN KEY([HoaDonDangKyID])
REFERENCES [dbo].[HoaDonDangKy] ([HoaDonDangKyID])
GO
ALTER TABLE [dbo].[SIM] CHECK CONSTRAINT [FK_SIM_HoaDonDangKy]
GO
